.app-header-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3vmin;

  &__left {
    display: flex;
    align-items: center;
    cursor: pointer;

    &__logo {
      width: 48px;
      height: 48px;
      margin-right: 10px;
      object-fit: cover;
    }

    &__company-name {
      font-family: var(--font-special);
      font-size: 1.4rem;
      font-weight: lighter;
      color: white;
    }
  }

  &__right {
    position: relative;
    padding-right: 2.3rem;
    @include flex-pos();

    &__social-link {
      color: var(--primary-3);
      margin-right: 1.3rem;
      cursor: pointer;

      &:hover {
        color: var(--primary-6);
      }
    }

    &__lang-switch {
      position: absolute;
      display: flex;
      align-items: center;
      flex-direction: column;
      background: white;
      top: -10px;
      right: 0px;
      border-radius: 100px;
      cursor: pointer;
      padding: 2px;
      margin-left: 6px;
      z-index: 1;

      .switch-item {
        width: 34px; 
        height: 34px;
        font-size: 12px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 100px;
        text-transform: uppercase;
        transition: background 0.5s;

        &:hover {
          background: var(--accent-3);
        }
      }
    }
  }
}


