.item-view {
  padding: 3vmin;
  display: flex;
  justify-content: center;
  gap: 3rem;
  padding-top: 100px;

  .mobile-show {
    display: none;
  }

  @media only screen and (max-width: 700px) {
    flex-direction: column-reverse;
    gap: 0;

    .item-view__left__main-image {
      max-width: 80%;
    }

    .mobile-hide {
      display: none;
    }

    .mobile-show {
      display: flex;
    }

    .item-view__right__info {
      min-width: 100%;
    }
  }

  @media only screen and (max-width: 950px) {
    .mobile-hide {
      .item-view__right__info-icon {
        display: none;
      }
    }
  }

  // LEFT
  &__left {
    position: relative;
    height: fit-content;

    &--free::after {
      position: absolute;
      content: "FREE";
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 12px;
      color: white;
      top: 12px;
      left: 12px;
      width: 40px;
      height: 40px;
      border-radius: 4px;
      background: linear-gradient(153deg, var(--secondary-4), var(--secondary-9));
    }

    &__main-image {
      // width: 50vw;
      height: auto;
      max-width: 400px;
      border-radius: 4px;
      object-fit: cover;
      // box-shadow: 0px 3px 8px rgb(0 0 0 / 18%);
    }

    &__thumbs-container {
      display: flex;
      flex-wrap: wrap;
      gap: 1rem;
      margin-bottom: 20px;

      &__thumb {
        position: relative;
        width: 8vmin;
        height: 8vmin;
        border-radius: 200px;
        background-size: cover;
        background-position: center;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: transform 1s;
        cursor: pointer;
        box-shadow: 0px 0px 0px 2px var(--primary-3);

        &.active {
          box-shadow: 0px 0px 0px 2px var(--secondary-7);
          // transform: scale(1.05);

          // &::after {
          //   position: absolute;
          //   content: "";
          //   width: calc(100% + 2px);
          //   height: calc(100% + 2px);
          //   border-radius: 200px;
          //   z-index: -1;
          //   box-shadow: 0px 7px 23px 0px rgb(0 0 0 / 50%);
          //   // background: linear-gradient(153deg, #fb006a, #7400fa);
          //   // background: linear-gradient(-60deg, var(--primary-2), var(--primary-5), var(--primary-1), var(--secondary-8));
          //   background-size: 300% 100%;
          //   animation: gradient-animation 5s ease infinite;
          // }
        }

        &:hover .delete-item {
          display: block;
        }

        & .delete-item {
          background: white;
          color: var(--error);
          padding: 6px;
          border-radius: 100px;
          position: absolute;
          bottom: 0;
          right: 0;
          cursor: pointer;
          display: none;
          border: 1px solid var(--error);
        }
      }
    }
  }

  // RIGHT
  &__right {
    &__title {
    }

    &__buttons {
      display: flex;
      flex-direction: column;
      width: 0px;
    }

    &__info {
      padding-bottom: 60px;
      max-width: 550px;
      display: flex;

      &-icon {
        font-size: 1.3rem;
        color: var(--secondary-7);
        margin-right: 0.8rem;
        margin-left: 0.5rem;
      }

      &-text {
      }
    }
  }
}
