.about-page {
  width: 100%;
  display: flex;
  flex-direction: column;

  &__block {
    display: flex;
    justify-content: center;

    &-content {
      padding: 15vmin 5vmin;
      width: 100%;
      max-width: 1000px;
      display: flex;
      align-items: center;
      gap: 2rem;

      img {
        width: 30vmin;
        height: 30vmin;
        object-fit: contain;
      }

      & .block-content__header {
        font-family: var(--font-special);
        font-size: 8vmin;
      }

      & .block-content__text {
        font-size: 0.85rem;
        color: var(--primary-5);
      } 

      &--reverced {
        flex-direction: row-reverse;
        text-align: right;
      }

      @media only screen and (max-width: 500px) {
        flex-direction: column;

        img {
          width: 15rem;
          height: 15rem;
        }
      }
    }
  }
}
